<%- include('partials/header.ejs', locals.name) %>

<main class="add-posts">
  <div class="add-posts__container">
    <h3 class="add-posts__heading">Add post</h3>
    <div class="add-posts__form-box">
      <form action="/addPost" method="post" class="add-posts__form">
        <div class="add-posts__name-box">
          <input
            type="text"
            name="name"
            value="<% if (locals.name) { %><%= name %><% } %>"
            placeholder="<% if (!locals.name) { %>Name<% } %>"
            class="add-posts__name"
            autocomplete="off"
            required
          />
        </div>

        <div class="add-posts__content-box">
          <textarea
            name="content"
            class="add-posts__content"
            placeholder="Write your post"
            required
          ></textarea>
        </div>

        <div class="add-posts__btn-box">
          <input type="submit" value="Add" class="add-posts__btn" />
        </div>
      </form>
    </div>
  </div>
</main>

<%- include('partials/footer.ejs') %>
